@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

input[type=text], input[type=button] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    }

:root {
    /* these are the site colors */
    --text: #000; /* default color for text */
    --alt-text: #fff; /* text color on dark backgrounds */
    --primary: rgb(231, 0, 77); /* primary color for highlighted elements */
    --primary-off: rgb(177, 0, 59); /* altered version of primary for hover events and such */
    --secondary: rgb(16, 59, 116); /* secondary color for alternative highlights */
    --secondary-off: rgb(2, 6, 63); /* altered version of secondary for hover events and such */
    --background: #fff; /* standard background color */
    --background-off: rgb(250, 250, 250); /* a darker bakground color to contrast with --background */
    --borders: rgb(212, 212, 212);  /* the color of borders for elements with a background color of --background or --background-off */
    --grey-text: rgb(20, 20, 20); /* this is a more grey version of the text color for certain alternative uses like forms */
    --error: rgb(211, 56, 56);
    --success: rgb(32, 163, 49);
}
.dont-use {
    --text: #000;
    --alt-text: #fff;
    --primary: rgb(31, 126, 7);
    --primary-off: rgb(25, 100, 6);
    --secondary: rgb(70, 75, 28);
    --secondary-off: rgb(46, 49, 15);
    --background: rgba(0, 0, 0, 0.04);
    --background-off: rgba(0, 0, 0, 0.01);
    --borders: rgba(0, 0, 0, 0.1);
    --grey-text: rgba(0, 0, 0, 0.9);
    --error: rgb(211, 56, 56);
    --success: rgb(32, 163, 49);
}
.dont-use {
    --text: #000;
    --alt-text: #fff;
    --primary: rgb(228, 205, 78);
    --primary-off: rgb(196, 176, 62);
    --secondary: rgb(75, 177, 109);
    --secondary-off: rgb(58, 138, 85);
    --background: rgba(0, 0, 0, 0.04);
    --background-off: rgba(0, 0, 0, 0.01);
    --borders: rgba(0, 0, 0, 0.1);
    --grey-text: rgba(0, 0, 0, 0.9);
    --error: rgb(211, 56, 56);
    --success: rgb(32, 163, 49);
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: var(--background-off);
    color: var(--text);
}
body a {
    color: var(--primary);
    text-decoration: none;
}
body a:hover {
    color: var(--primary);
    text-decoration: underline;
}
body a:visited {
    color: var(--primary);
    text-decoration: none;
}
body a.secondary {
    color: var(--secondary);
}
::selection {
    color: var(--alt-text);
    background: var(--secondary-off);
}
::-moz-selection {
    color: var(--alt-text);
    background: var(--secondary-off);
}
button.btn {
    background-color: rgb(230, 230, 230);
    color: rgb(83, 83, 83);
    border: 1px solid var(--borders);
    /*border: 1px solid rgb(225, 225, 225);*/
    padding: 6px 9px;
    border-radius: 3px;
    margin: 7px 0 7px 5px;
    cursor: pointer;
}
button.btn:focus {
    -webkit-box-shadow: 1px 2px 20px 0px rgba(0,0,0,0.31); 
    box-shadow: 1px 2px 20px 0px rgba(0,0,0,0.31);
    outline: none;
}
button.btn:hover {
    background-color: rgb(218, 218, 218);
}

button.btn.active {
    background-color: var(--primary);
    color: var(--alt-text);
    border: 1px solid var(--primary-off);
}
button.btn.active:hover {
    background-color: var(--primary-off);
}

button.btn.secondary {
    background-color: var(--secondary);
    color: var(--alt-text);
    border: 1px solid var(--secondary-off);
}
button.btn.secondary:hover {
    background-color: var(--secondary-off);
}

/* various global classes for textual elements */

p.primary, span.primary, h1.primary, h2.primary, h3.primary, h4.primary, h5.primary, h6.primary em.primary strong.primary {
    color: var(--primary);
}
p.primary-off, span.primary.off, h1.primary-off, h2.primary-off, h3.primary-off, h4.primary-off, h5.primary-off, h6.primary-off, em.primary-off, strong.primary-off {
    color: var(--primary-off);
}
p.secondary, span.secondary, h1.secondary, h2.secondary, h3.secondary, h4.secondary, h5.secondary, h6.secondary, em.secondary, strong.secondary {
    color: var(--secondary);
}
p.secondary-off, span.secondary-off, h1.secondary-off, h2.secondary-off,h3.secondary-off, h4.secondary-off, h5.secondary-off, h6.secondary-off, em.secondary-off, strong.secondary-off {
    color: var(--secondary-off);
}


/* commence the forms styling */

form.standard {
    background-color: var(--background-off);
    border: 1px solid var(--borders);
    border-radius: 3px;
    color: var(--grey-text);
    padding: 15px;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.1); 
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.1);
}
@media screen and (max-width: 630px) {
    form.standard {
        min-width: 100%;
        max-width: 100%;
    }
}
form.standard h2 {
    font-size: 25px;
    margin: 0 0 10px 0;
}
form.standard label {
    display: block;
    font-size: 14px;
    margin: 5px 0 5px 0;
}
form.standard span {
    font-size: 12px;
    margin: 5px 0;
}
form.standard span.error, form.standard span.success {
    font-size: 12px;
}
form.standard span.error {
    color: var(--error);
}
form.standard span.success {
    color: var(--success);
}
input.form {
    padding: 6px 9px;
    border-radius: 3px;
    border: 1px solid var(--borders);
    margin: 0;
    min-width: 250px;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    input.form {
        min-width: 100%;
        max-width: 100%;
    }
}
input.form:focus-visible {
    border: 1px solid var(--primary);
    outline: none;
    -webkit-box-shadow: -1px -1px 7px 1px rgba(0,0,0,0.1); 
    box-shadow: -1px -1px 7px 1px rgba(0,0,0,0.1);
}
input.form[type="date"] {
    font-family: inherit;
}
textarea.form {
    padding: 6px 9px;
    border-radius: 3px;
    border: 1px solid var(--borders);
    margin: 0;
    min-width: 350px;
    min-height: 200px;
    font-family: inherit;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    textarea.form {
        min-width: 100%;
        max-width: 100%;
    }
}
textarea.form:focus-visible {
    border: 1px solid var(--primary);
    outline: none;
    -webkit-box-shadow: -1px -1px 7px 1px rgba(0,0,0,0.1); 
    box-shadow: -1px -1px 7px 1px rgba(0,0,0,0.1);
}
textarea.form.noresize {
    resize: none;
}
input.form[type="file"] {
    background-color: rgb(230, 230, 230);
    color: rgb(83, 83, 83);
    border: 1px solid var(--borders);
    /*border: 1px solid rgb(225, 225, 225);*/
    padding: 6px 9px;
    border-radius: 3px;
    cursor: pointer;
}

div.searchbox {
    width: 400px;
    height: 40px;
    background-color: var(--background-off);
    border: 1px solid var(--borders);
    border-radius: 3px;
    color: var(--grey-text) !important;
}
div.searchbox:focus-within {
    border: 1px solid var(--primary);
}
div.searchbox form {
    height: 40px;
    width: 400px;
    display: grid;
    grid-template-columns: 360px 40px;
}
div.searchbox form input[type="search"] {
    border: 0;
    background: transparent;
    height: 40px;
    width: 360px;
    padding-left: 5px;
}
div.searchbox form input[type="search"]:focus-visible {
    border: 0;
    outline: none;
}
div.searchbox form button[type="submit"] {
    border: 0;
    height: 37px;
    width: 37px;
    margin: 1.5px 1.5px;
    float: right;
    background-color: var(--primary);
    border-radius: 2.1px;
}
div.searchbox form button[type="submit"]:hover {
    background-color: var(--primary-off);
}
div.searchbox form button[type="submit"] svg {
    color: var(--alt-text);
    fill: currentColor;
    margin: 3px 0 0 1px;
}

div.searchbox.secondary:focus-within {
    border: 1px solid var(--secondary) !important;
}
div.searchbox.secondary form button[type="submit"] {
    background-color: var(--secondary);
}
div.searchbox.secondary form button[type="submit"]:hover {
    background-color: var(--secondary-off);
}

header.bulkhead {
    background-color: var(--primary);
    color: (--alt-text);
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: auto 100px;
}
header.bulkhead .lower {
    height: 100px;
    width: 100%;
    line-height: 100px;
    display: grid;
    grid-template-columns: 300px auto 450px;
}
header.bulkhead .lower .left {
    width: 300px;
    height: 100px;
}
header.bulkhead .lower .left img {
    width: 250px;
    height: 83.3333333px;
    margin: 9px 25px;
}
header.bulkhead .lower nav.middle {
    font-size: 20px;
}
header.bulkhead .lower nav.middle a {
    color: var(--alt-text);
    text-decoration: none;
    margin: 0 10px 0 10px;
}
header.bulkhead .lower nav.middle a:hover {
    text-decoration: underline;
}
header.bulkhead .lower nav.middle a.active {
    text-decoration: underline;
}
header.bulkhead .lower .right .searchbox {
    margin: 30px 0;
}

header.bulkhead .upper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header.bulkhead .upper .middlebox {
    width: 900px;
    color: var(--alt-text);
    font-size: 150px;
}

header.mini {
    width: 100%;
    height: 65px;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.29); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.29);
}
header.mini img {
    height: 65px;
    width: 195px;
}
header.mini .burger-menu {
    width: 65px;
    height: 65px;
}
header.mini .burger-menu .open-icon {
    width: 30px;
    height: 30px;
    margin: 17.5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}
header.mini .burger-menu .open-icon .line {
    width: 35px;
    height: 4px;
    border-radius: 7.5px;
    background-color: var(--alt-text);
}
header.mini .burger-menu .overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
}
header.mini .burger-menu .overlay nav {
    width: 350px;
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    header.mini .burger-menu .overlay nav {
        width: 100%;
    }
}
header.mini .burger-menu .overlay nav .close-icon {
    width: 35px;
    height: 35px;
    margin: 17.5px;
    cursor: pointer;
    align-self: flex-end;
}
header.mini .burger-menu .overlay nav .close-icon .outer {
    height: 35px;
    width: 4px;
    border-radius: 7.5px;
    background-color: var(--alt-text);
    transform: rotate(45deg);
    margin-left: 18px;
}
header.mini .burger-menu .overlay nav .close-icon .outer .inner {
    height: 35px;
    width: 4px;
    border-radius: 7.5px;
    background-color: var(--alt-text);
    transform: rotate(90deg);
}
header.mini .burger-menu .overlay nav ul {
    list-style: none;
    padding-left: 15px;
    margin: 0;
}
header.mini .burger-menu .overlay nav ul li a {
    color: var(--alt-text);
    font-size: 30px;
}
.hidden {
    display: hidden !important;
    visibility: none !important;
    left: -100000000px !important;
}

@media screen and (min-width: 1000px) {
    main, #footer-content {
        width: 1000px;
        margin: auto;
    }
}

footer {
    background-color: var(--background-off);
    border-top: 1px solid var(--borders);
}
#footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
#footer-content p {
    margin: 0;
    padding: 0;
}

article {
    margin: 10px;
}
article figure.block {
    display: block;
    margin: 0 auto;
    width: 700px;
}
article figure.block img {
    width: 100%;
    border: 1px solid var(--borders);
}
article figure.block img:hover {
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.1); 
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.1);
}
article figure.block figcaption {
    color: var(--grey-text);
    text-align: center;
}
@media screen and (max-width: 730px) {
    article figure.block {
        width: 100%;
    }
}
article .toc {
    background-color: var(--background-off);
    border: 1px solid var(--borders);
    border-radius: 3px;
    color: var(--grey-text);
    padding: 15px;
    display: inline-block;
    min-width: 600px;
    box-sizing: border-box;
}
article .toc:hover {
    -webkit-box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.1); 
    box-shadow: 1px 1px 7px 1px rgba(0,0,0,0.1);
}
@media screen and (max-width: 630px) {
    article .toc {
        min-width: 100%;
    }
}
article .toc h3 {
    padding: 0;
    margin: 0;
    font-size: 25px;
}
article p {
    padding: 15px;
    margin: 0;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
    padding: 15px;
    margin: 0;
}

main {
    background-color: var(--background);
}
main h1 {
    font-size: 50px;
}
main h2 {
    font-size: 37px;
}
main h3 {
    font-size: 25px;
}
main p {
    font-size: 16px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    background-color: var(--primary-off);
    color: white;
    -webkit-box-shadow: inset 0px 0px 10px 15px rgba(0,0,0,0.1); 
    box-shadow: inset 0px 0px 10px 15px rgba(0,0,0,0.1);
}

main p .drop {
    float: left;
    width: 0.8em;
    font-size: 600%;
    line-height: 80%;
}

main .mainbox {
    margin: 10px 10px 0 10px;
    padding-bottom: 10px;
}